@import '../../../global/styles/scss/0_settings/functions&variables.scss';
@import '../../../global/styles/scss/0_settings/mixins.scss';

.historyMessageDialog {
  display: flex;
  flex-direction: column;

  li {
    // @include size (300px);
    position: relative;
    margin-top: 40px;
    margin-left: 8px;
    width: 100%;
    margin-bottom: 18px;

    img {
      border-radius: 50%;
      vertical-align: middle;
      margin-right: 12px;
    }

    .message {
      position: relative;
      word-break: break-word;
      word-wrap: break-word;

      .name, .time {
        right: 5px;
        font-size: 12px;
        color: #808080;
        font-weight: bold;
        position: absolute;
    }

    .text {
      max-width: 270px;
      padding: 15px;
      display: inline-block;
      border-radius: 10px;
      background-color: #1F9EFC;
      color: #fff;

      // @include breakpoint ($Xsmall_screens) {
      //     max-width: 80px;
      // }
  }
    }
  }

}
.messageSentDay {
  display: flex;
  justify-content: center;
  position: relative;
  // width: 60vw;
  width: 100%;
  top: -20px;
  margin-top: 0px;
  margin-bottom: 30px;
  color: color(secondary);
  font-size: 13px;

  &:empty {
      display: none;
  }
}



.name, .time {
  left: 5px;
}

.name {
  top: -18px;
}

.time {
  width: 100%;
  bottom: -18px;
  .date {
    opacity: 0.5;
    display: inline;
  }
}

.text {
  background-color: rgba(128, 128, 128, 0.164);
}

.historyMessageDialog li.senderMessage .message {
  align-self: flex-end;
  margin-right: 50px;
  color: gray;
  text-align: right;

  .text {
      max-width: 270px;
      padding: 15px;
      display: inline-block;
      border-radius: 10px;
      // background-color: color(primary);
      background-color: #999;
      color: #fff;

      // @include breakpoint ($Xsmall_screens) {
      //     max-width: 80px;
      // }
  }


  .name, .time {
      left: unset;
      right: 5px;
      font-size: 11px;
      color: #808080;
      font-weight: bold;
      position: absolute;
  }
}
