@import '../../../global/styles/scss/0_settings/functions&variables.scss';
@import '../../../global/styles/scss/0_settings/mixins.scss';

:host {
  grid-row: 3;
  grid-column: 2;

  @include breakpoint ($tablet) {
      grid-column: 1/3
  }
  position: relative;

  .messageForm {
      width: calc(100% - 24px);
      position: absolute;
      bottom: 0;
      z-index: 100;
      border-top: 1px solid rgba(128, 128, 128, 0.164);
      border-bottom: 1px solid rgba(128, 128, 128, 0.164);
      left: 0;
      bottom: 0;
      right: 0;
      padding: 12px;
      background: #fff;
      display: flex;

      @include breakpoint ($mobile) {
          bottom: 10px;
      }

      .messageInput {
          height: 35px;
          border: none;
          font-size: 15px;
          flex: 1;
          margin-right: 12px;

          &:focus {
              outline: none;
          }
      }

      .submitBtn {
            position: relative;
            display: inline-block;
            height: 35px;
            padding: 0px 12px;
            box-sizing: border-box;
            margin: 0;
            font-weight: 600;
            font-size: 14px;
            font-family: "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
            line-height: 30px;
            color: #263238;
            vertical-align: middle;
            cursor: pointer;
            border: 1px solid transparent;
            border-radius: 3px;
            text-decoration: none;
            white-space: nowrap;
            font-weight: 700;
            color: white;
            background-color: #1F9EFC;
            background-image: linear-gradient(-180deg, #4AB2FD 0%, #1E9EFC 100%);
            border-color: #0075bb;

            &:hover {
                background-image: linear-gradient(-180deg, #2D9DEF 2%, #007DD9 100%);
            }

            &:active {
                background-image: none;
                background-color: #0769B0;
                border-color: #0769B0;
                box-shadow: inset 0 1px 3px 0 #004670;
            }

            &:focus {
                outline: none;
            }
      }
  }
}
