@import '../../global/styles/scss/0_settings/functions&variables.scss';
@import '../../global/styles/scss/0_settings/mixins.scss';

:host .senderMessageDialog {
  display: flex;
  flex-direction: column;

  li {
    @include size (300px);
    position: relative;
    margin-top: 40px;
    margin-left: 8px;
  }

  .senderMessage {
      align-self: flex-end;
      margin-right: 50px;
      color: gray;
      text-align: right;

      @include breakpoint ($Xsmall_screens) {
          margin-right: 95px;
      }

      img {
          left: 305px;

          @include breakpoint ($mobile) {
              left: 155px;
          }
      }

      .message {
        position: relative;
        word-break: break-word;
        word-wrap: break-word;
        }


    }

      .name, .time {
          left: unset;
          right: 5px;
          font-size: 15px;
          color: #808080;
          font-weight: bold;
          position: absolute;
      }

      .name {
          top: -18px;
      }
      .time {
          bottom: -18px;
      }

      .text {
        max-width: 270px;
        padding: 15px;
        display: inline-block;
        border-radius: 10px;
        // background-color: color(primary);
        background-color: #808080;
        color: #fff;

        @include breakpoint ($Xsmall_screens) {
            max-width: 80px;
        }
    }
}
